<div class="container">
  <h1>Edit book</h1>
  <button mat-raised-button color="primary" routerLink="/">Book list</button>
  <h4 class="text-success d-flex justify-content-center">{{ message }}</h4>
  <form [formGroup]="bookForm" (ngSubmit)="edit()">
    <table class="table table-light table-striped table-bordered table-hover">
      <tr>
        <th scope="row" class="w-25">Id:</th>
        <td class="form-group">
          <label class="w-100">
            <input
              class="form-control"
              type="text"
              formControlName="id"
              value="{{ book.id }}"
              readonly
            />
          </label>
        </td>
      </tr>
      <tr>
        <th scope="row" class="w-25">Title:</th>
        <td class="form-group">
          <label class="w-100">
            <input
              class="form-control"
              type="text"
              formControlName="title"
              value="{{ book.title }}"
              (ngModelChange)="resetMessage()"
            />
          </label>
          <div
            *ngIf="bookTitle.invalid && (bookTitle.dirty || bookTitle.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="bookTitle.errors.required">
              Title is required.
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">Author:</th>
        <td>
          <label class="w-100">
            <input
              class="form-control"
              type="text"
              formControlName="author"
              value="{{ book.author }}"
              (ngModelChange)="resetMessage()"
            />
          </label>
          <div
            *ngIf="
              bookAuthor.invalid && (bookAuthor.dirty || bookAuthor.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="bookAuthor.errors.required">
              Author is required.
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">Description:</th>
        <td>
          <label class="w-100">
            <textarea
              rows="5"
              class="form-control"
              formControlName="description"
              value="{{ book.description }}"
              (ngModelChange)="resetMessage()"
            ></textarea>
          </label>
          <div
            *ngIf="
              bookDescription.invalid &&
              (bookDescription.dirty || bookDescription.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="bookDescription.errors.required">
              Description is required.
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button
            mat-raised-button
            color="accent"
            [disabled]="bookForm.invalid"
          >
            Edit book
          </button>
          <button (click)="discard()" mat-raised-button color="danger">
            Discard
          </button>
        </td>
      </tr>
    </table>
  </form>
</div>
